.container {
    max-width: 1596px;
    min-height: 160px;
    margin: 0 auto;
    padding-top: 100px;
}

.container_2 {
    display: flex;
    justify-content: space-between;
    min-height: 160px;
    margin-bottom: 80px;
    border-bottom: 1px solid rgba(28, 28, 33, 1);

}

.cont_1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pAbout {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: rgba(121, 124, 134, 1);
    text-transform: uppercase;
}

.pName {
    font-weight: 600;
    font-size: 58px;
    line-height: 79px;
    text-transform: uppercase;

}

.cont_2 {
    padding-top: 25px;
}

.container_3 {
    min-height: 710px;
    display: flex;
    /* flex-direction: column; */
}

.cont_img {
    object-fit: contain;
}

.container_4 {
    border: 1px solid rgba(28, 28, 33, 1);
    border-radius: 15px;
    margin: 49px 0 0 30px;
    min-height: 612px;
    max-width: 783px;


}

.intro {
    max-width: 783px;
    min-height: 276px;
    border-bottom: 1px solid rgba(28, 28, 33, 1);
}

.pIn {
    font-size: 30px;
    font-weight: 500;
    line-height: 40.98px;
    text-align: left;
    display: flex;
    gap: 10px;
    margin: 40px 40px 20px 40px;

}

.pInt {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin: 0px 40px 0px 40px;
    color: rgba(175, 176, 182, 1);

}

.cont_email {
    display: flex;
    max-width: 703px;
    min-height: 67px;
    gap: 20px;
    margin: 40px;

}

.email {
    display: flex;
    width: 341.5px;
    min-height: 67px;

}

.email p {
    color: rgba(228, 228, 230, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;



}

.email a {
    color: rgba(175, 176, 182, 1);

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;

}

.container_6 {
    width: 703px;
    min-height: 68px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 40px;
}

.three {
    min-width: 196px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 100px;
    border: 1px solid rgba(28, 28, 33, 1);
}

.three button {
    width: 50px;
    height: 50px;
}

.two {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    min-width: 447px;
}

.two button {
    padding: 18px 34px;

}

@media (max-width: 1035px) {
    .container_4 {
        margin: 0 auto;
    }
    .container_3{
        flex-direction: column;
 
    }
    .container_6{
        flex-direction: column;
    }
    .two {
        flex-direction: column;
    }
    .three{
        max-width: 156px;
    }
    .cont_email{
        flex-direction: column;
    }
    .intro {
        min-height: 276px;
    }
    .cont_img{
        margin: 0 auto;
        padding-bottom: 40px;
    }
    
}