@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: rgb(15, 15, 15);
  font-size: 16px;
  color: aliceblue;
}

header {
  position: relative;
  padding: 0 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.h2 {
  font-size: 58px;
  font-weight: 600;
  line-height: 79.23px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;

}

.h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27.32px;
  color: rgba(121, 124, 134, 1);
  text-transform: uppercase;

}

a {
  text-decoration: none;
  color: transition;
}

address {
  font-style: normal;
}

button {
  font-family: "Manrope", sans-serif;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.btn_blue{
  background-color: rgba(74, 44, 237, 1);
  width: 130px;
  height: 66px;
  border-radius: 100px;
  gap: 10px;
  box-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;

}
.text{
font-size: 18px;
font-weight: 400;
line-height: 27px;
color: rgba(175, 176, 182, 1);
}

.main-btn {
  border-radius: 10px;
  padding: 16px 24px;
  background: #1c1c21;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.cars {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  header {
    padding: 0 40px;
  }
}